<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title != 'undefined' ? title: 'IG' %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h2>views/layouts/layout</h2>
    <nav class="navbar">
        <div class="navbar__logo">
        <i class="fas fa-kiwi-bird"></i>
        
        </div>
        <div class="navbar__menu">           
        
        <!-- ðŸ€href="/"ë§Œ ë„£ì–´ë„ ì •ìƒ ìž‘ë™í•¨ 
            href="/"
            href="http://localhost:3000" 
            href="http://localhost:3000/write" 
        -->
        <ul>            
            <li><a href="/">home</a></li>
            <li><a href="/list">list</a></li>    
            <li><a href="/write">write</a></li>    
    
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>      
            <li><a href="/mypage">mypage</a></li>
        </ul>    
    
    
        </div>
        <div class="navbar__icons">
        <li><i class="fab fa-odnoklassniki-square"></i></li>
        <li><i class="fas fa-skiing"></i></li>
        </div>
    
        <a href="#" class="footer">
        <i class="fas fa-align-justify"></i>
        </a>
    </nav>
    
    <main>
        <%- body -%>
    </main>
  
    
</body>
</html>