<h1 class="title-page">/views/write.ejs</h1>


<!-- BOOTSTRAP -->
<section class="write-boot">
    <!--ðŸ¦„ðŸ¥’ c24-4-1)         
          /add ê²½ë¡œë¡œ, POSTìš”ì²­í•¨ ðŸ‘‰server.js    
          action="/add" method="POST"  

          htmlì—ì„œëŠ”
          GET, POST ìš”ì²­ë§Œ ê°€ëŠ¥í•¨
          PUT, DELETE  ë¶ˆê°€ëŠ¥
      -->
    <!-- action="/add" method="POST" -->
  <form class="boot-form"  action="/add" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">title</label>

      <!--  ðŸ¦„ðŸ¥’c24-4-1) name="ig-title" -->
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="ig_title"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">date</label>

          <!--  ðŸ¦„ðŸ¥’c24-4-1) name="ig-data" -->
      <input type="text" class="form-control" id="exampleInputPassword1" name="ig_data" />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">description</label>

          <!--  ðŸ¦„ðŸ¥’c24-4-1)name="ig_desc" -->
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="ig_desc"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>



<section class="write">

    <form action="/add" method="POST">
      <label>title</label>
  
      <!--  ðŸ¦„ðŸ¥’c24-4-1) 
              name="ig-title" 
              -->
      <input type="text" name="ig_title" />
  
      <br />
      <label>date</label>
  
      <!--  ðŸ¦„ðŸ¥’ c24-4-1) 
                    name="ig-data" />       
                -->
      <input type="text" name="ig_data" />
  
      <br />
      <label>description</label>
  
      <!--  ðŸ¦„ðŸ¥’ c24-4-1) 
                  name="ig_desc" />       
              -->
      <textarea name="ig_desc" id="" cols="30" rows="10"></textarea>
  
      <br />
      <button type="submit" class="myBtn">Submit</button>
    </form>
  </section>
  